# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.sqlite3
*.log

# PyCharm
.idea/

# Virtualenv
.venv/

# OS
.DS_Store

# Env files
.env