{% extends 'base.html' %}

{% block content %}
<nav>
        <h1>
            <a href="{% url 'posts:feeds' %}">Pystagram</a>
        </h1>
        <a href="{% url 'posts:post_add' %}">Add post</a>
        <a href="{% url 'users:logout' %}">Logout</a>
    </nav>
    <div id="feeds" class="post-container">
        {% include 'posts/post.html' %}
    </div>
    <script>
        const elms = document.getElementsByClassName('splide')
        for (let i = 0; i < elms.length; i++) {
            new Splide(elms[i]).mount();
        }
    </script>
{% endblock %}