{% extends 'base.html' %}

{% block content %}
<nav>
    <h1>
        <a href="{% url 'posts:feeds' %}">Pystagram</a>
    </h1>
    <a href="{% url 'posts:post_add' %}">Add post</a>
    <a href="{% url 'users:logout' %}">Logout</a>
</nav>
<div id="tags">
  <header class="tags-header">
      <h2>#{{ tag_name }}</h2>
      <div>게시물 {{ posts.count }}</div>
  </header>
  <div class="post-grid-container">
      {% for post in posts %}
            <div class="post-grid">{{ post.id }}</div>
      {% endfor %}
  </div>
</div>
{% endblock %}